<launch>

  <!-- launch ft sensor -->
<!--  <include file="$(find netft_rdt_driver)/launch/netft.launch"/>-->
    <arg name="tool_name" default="r7p5mm_ati_cylinder"/>

  <!-- Allows users to have custom URDF -->
    <arg name="model" default="$(find bubble_force_estimation)/urdf/ftsensor_fake.urdf.xacro"/>
    <param name="scene_urdf" command="$(find xacro)/xacro $(arg model) tool_name:=$(arg tool_name)"/>

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="ft_sensor_state_publisher">
        <remap from="robot_description" to="scene_urdf" />
        <remap from="joint_states" to="ft_fake_joint_states"/>
    </node>

  <!--  Add collision geometry  -->


<!--  <param name="scene_urdf" textfile="$(find bubble_force_estimation)/urdf/ftsensor_fake.urdf"/>-->
<!--  <param name="scene_urdf" command="$(find xacro)/xacro $(arg model)"/>-->

<!--    <param name="scene_urdf" command="rosparam get ft_description"/>-->
  <node name="load_urdf" pkg="urdf_to_scene" type="load_urdf" output="screen" required="false" launch-prefix="" ns="med">
  </node>


</launch>